streamlit
pdfplumber>=0.10
openai>=1.0.0
langchain-community
langchain-openai>=0.0.3
Pillow
pytesseract
pdf2image
PyPDF2
pandas
python-docx
PyMuPDF
faiss-cpu  # o faiss-gpu si tienes CUDA
langchain>=0.0.350
tiktoken
easyocr
poppler-utils
numpy
